Repository RakambdaOrg/ChannelPointsMiner, pull requests merged in 2023-09, with the labels that each got.

#578 Add new prediction result : RATE_LIMITED
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/types/MakePredictionErrorCode.java
Labels: type: 🐛 bug, app: ⛏️ miner

#580 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#588 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#589 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#595 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/CODEOWNERS
Labels: sync

#597 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#601 Fix trying parsing an URL that isn't one during Raids
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/ws/data/message/subtype/Raid.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/util/json/URLDeserializer.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/api/ws/TwitchPubSubWebSocketClientMessageTest.java
Labels: type: 🧱 enhancement, app: ⛏️ miner
