Repository RakambdaOrg/ChannelPointsMiner, pull requests merged in 2024-08, with the labels that each got.

#844 Add setting to dismiss known global ids that hide normal drops
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/GQLApi.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/setdropscommunityhighlighttohidden/InputData.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/setdropscommunityhighlighttohidden/SetDropsCommunityHighlightToHiddenData.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/setdropscommunityhighlighttohidden/SetDropsCommunityHighlightToHiddenOperation.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/types/GQLType.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/types/SetDropsCommunityHighlightToHiddenPayload.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/runnable/UpdateStreamInfo.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/streamer/Streamer.java
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/streamer/StreamerSettings.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/GQLApiSetDropsCommunityHighlightToHiddenTest.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/runnable/UpdateStreamInfoTest.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/streamer/PredictionSettingsTest.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/streamer/StreamerSettingsTest.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/streamer/StreamerTest.java
  miner/src/test/resources/api/gql/gql/setDropsCommunityHighlightToHidden_success.json
  miner/src/test/resources/config/config-with-more-customization.json
Labels: type: 🧱 enhancement, app: ⛏️ miner

#846 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/renovate.json
Labels: sync

#861 Use new operation id for DropsHighlightService_AvailableDrops
  miner/src/main/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/data/dropshighlightserviceavailabledrops/DropsHighlightServiceAvailableDropsOperation.java
  miner/src/test/java/fr/rakambda/channelpointsminer/miner/api/gql/gql/GQLApiDropsHighlightServiceAvailableDropsTest.java
Labels: app: ⛏️ miner, type: ⚙️ internal enhancement
